#navBarText{
    color: #6E6E6E;
	font-size: 110%;
}

#navBarTextSmall{
    color: #848484;
	font-size: 100%;
}

#navColor{
    background-color: #E6E6E6;
	
}


#pStart{
	font: arial;
	
	color: black;
	font-size: 130%;
	font-family: fantasy; 
	text-align: center;

h2{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

h3{
	text-align: center;
	font-size: 16pt;
}

table, td, tr{
	text-align: left;
}

button{
  width: 150px;
  text-align: center;
  margin:0 auto;
}

#img{
    width:100%;
    height: 100%;
}

