.wrapper {
    display: flex;
    width: 140%;
}

#wrapper, img{
    width:100%;
    height: 100%;
}


#navBarText{
    color: #6E6E6E;
	font-size: 110%;
}

#navBarTextSmall{
    color: #848484;
	font-size: 100%;
}

#navColor{
    background-color: #E6E6E6;
	
}


#pStart{
	font: arial;
	
	color: black;
	font-size: 130%;
	font-family: fantasy; 
	text-align: center;
}

h2{
	text-align: center;
}
table, td, tr{
	text-align: left;
}



